div{
    height: 200px;
    width: 200px;
    color:black;
    background-color: black;
    margin: 5px;
}

.static{
    background-color: aqua;
    position: static;
    top: 100px;
}

.relative{
    background-color: blue;
    position: relative;
    left: 0px;
    top: 0px;
}

.absolute{
    background-color: darkorange;
    position: absolute;
    top: 0px;
    left: 0px;
    /* left: 200px; */
}


.fixed{
    background-color: brown;
    position: fixed;
    left: 500px;
}

.sticky{
    background-color: chartreuse;
    position: sticky;
    top: 400px;

} 