html, body{
    overflow-x: hidden;
}

header{
    display: flex;
    height: 75px;
    background-color: #efeffb; 
    padding: 10px 0px 10px;
    /* position: fixed;
    padding: 0px; */

}

header img{
    width: 200px;
    padding-left: 50px;
}
/* header a{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 600px;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}  */
header div{
    display: flex;
}
header div a{
    /* flex: 1; */
    text-decoration: none;
    color: black;
    font-size:larger;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 1000;
    gap: 10px;
    padding: 15px;
    position: relative;
    left: 630px;
    top: 15px;
    background-color: #efeffb; 
}
div a{
    gap: 10px;
    font-family: 'poppins', sans-serif;
}
a:hover{
    color: rgb(32, 159, 32);
    content: "";
  /* position: absolute; */

   /* height: 3px; 
  width: 0px;
  left: 0px; 
  bottom: -10px; */
  transition: 0.3s;
}
a:active{
    font-weight: bold;
    
}
   

.cut img{
    position: relative;
    top: -11px;
    width: 100%;
    padding: 0px;
    height: 3px;
    
    
}  
section img{
    width: 100%;
    height: 500px;
    display: flex;
  position: relative;
  top: -15px;
}
h3{
  display: flex;
  position: relative;
  top: -450px;
    color: white;
    font-size:x-large;
    padding-left: 100px;
    
}h1{
  display: flex;
  position: relative;
  top: -500px;
    color:darkgreen;
    padding-left: 100px;
    font-size:xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-decoration: none;
    display: flex;
  position: relative;
  top: -480px;
    color:black;
    padding-left: 100px;
    /* font-weight:bold; */
    font-size:xx-large;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    display: flex;
    position: relative;
    top: -500px;
    padding-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sai img{
    height: 50px;
    width: 250px;
    display: flex;
    position: relative;
    top: -500px;
    padding-left: 100px;
    
}
.center{
    position: absolute;
    top: 370px;
    padding-left: 180px;
    font-weight:bolder ;
    color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.features{
    display: flex;
    width: 100%;
    position: relative;
    top: -280px;
    
}
.features div{
    height: 200px;
    width: 100%;   
    border: 1px solid;
    margin: 20px;
    border-color: darkgray;
 
}
.features img{
    height: 100px;
    width: 150px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    
}
/* .features button{
    justify-content: space-around;
} */
.b1{
    
    background-color:pink ;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
    text-decoration: none;
    position: relative;
    left: 45px;
    
}
.b2{
    background-color:rgb(143, 255, 143) ;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
    text-decoration: none;
    position: relative;
    left: 50px;
  }
  .b3{
    background-color:skyblue ;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
    text-decoration: none;
    position: relative;
    left: 50px;
  }
  .b4{
    background-color:rgb(193, 128, 255) ;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
    text-decoration: none;
    position: relative;
    left: 55px;
  }
  .b5{
    background-color:pink ;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
    text-decoration: none;
    position: relative;
    left: 60px;
  }
  .b6 {
    background-color:#E5D68A;
    color: #02B290;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
    position: relative;
    left: 50px;
    
  }
  .heading h1{
    position: relative;
    /* top: 100px; */
    color: black;
    top: -280px;
    left: 530px;
  }
  .heading p{
    position: relative;
    /* top: 100px; */
    color: black;
    top: -292px;
    left: 535px;
    color:gray;
  }
  

  .productimage1{
    justify-content: space-around;
    background-color: white;
    display: flex;
    position: relative;
    top: -280px;
  }
  .productimage1 img{
    
    height: 350px;
    width: 325px;
    padding-top: 0px;
    border-radius: 20px;
    justify-content: space-around;
    
    padding-left: 10px;
  }
  .img1{
    height: 525px;
    width: 380px;
    border-radius:  20px;
    box-shadow: 0px 2px 2px 2px #eae7e7;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
  }
  .img1 p{
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
    top: 0px;
    color: rgb(21, 20, 20);
  }

   .img1 p{
    padding-top: 0px;
    padding-left: 5px;
  }
 .star{
  padding-left: 5px;
 } 
.pricecart{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }
  .pricecart h5{
    color:rgb(14, 120, 14);
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button{
    height: 50px;
    padding: 2px;
    
  }
  .cartbutton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: #a8cccd;
    padding: 1px;
    
    
    
    /* padding-right: 10px; */
  }
  
  .productimage2{
    justify-content: space-around;
    background-color: white;
    display: flex;
    padding-top: 50px;
    position: relative;
    top: -280px;
  }
  .productimage2 img{
    height: 350px;
    width: 325px;
    padding-top: 20px 20px 0px;
    border-radius: 20px;
    justify-content: space-around;
    
    padding-left: 10px;
  }
  .img1{
    height: 525px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px #eae7e7;
    justify-content: space-between;
    padding-left: 5px;
    padding-top: 10px;
    margin: 10px;
  }
  .img1 p{
    padding-top: 5px;
    padding-left: 5px;
  }
   .img1 p{
    padding-top: 0px;
    padding-left: 5px;
  }
 .star{
  padding-left: 5px;
 } 
.pricecart{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }
  .pricecart h5{
    color: #196061;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button{
    height: 50px;
    padding: 2px;
    
  }
  .cartbutton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: #a8cccd;
    padding: 1px;
  }
  .banner2{
    position: relative;
    top: -200px;
  }
  .banner2 img{
    height: 200px;
  }
  ul h2{
    position: relative;
    top: -400px;
    left: 300px;
    color: #eae7e7;
  }
  ul h4{
    position: relative;
    top: -400px;
    left: 650px;
    color: #eae7e7;
  }
  ul button{
    position: relative;
    top: -400px;
    left: 650px;
    width: 100px;
    height: 40px;
    background-color: #efeffb;
    border-color: #efeffb;
  }
  /* product images starts here */
  .featuredproducts11 h1{
    position: relative;
    top: -340px;
    left: 550px;
    color: black;
    
  }
  .featuredproducts11 h5{
    position: relative;
    top: -340px;
    left: 630px;
    color: darkgray;
  }
  /* banner3 starts here */
  .banner3{
    display: flex;
    width: 100%;
    margin: 10px;
    position: relative;
    top: -300px;
    
    height: -400px;
    
}
.banner3 div{
    margin: 0px 10px;
    position: relative;
    top: 100px;
}
.imgbannerPara1{
    color: #efeffb;
    font-weight: bold;
    position: relative;
    top: -600px;
}
.imgbannerPara2{
    color: #efeffb;
    font-weight: bold;
    font-size: xx-large;
    position: relative;
    top: -635px;
}
.imgbannerPara3{
    color: #efeffb;
    font-weight: bold;
    position: relative;
    top: -655px;
}
.explore1{
  position: relative;
  top: -655px;
  left: 100px;
  border-color: #efeffb;
  background-color:darkorange;
  color: #efeffb;
  height: 40px;
  width: 100px;

}
.imgbannerPara11{
  color: #efeffb;
  font-weight: bold;
  position: relative;
  top: -780px;
  left: 50%;
}
.imgbannerPara12{
  color: #efeffb;
  font-weight: bold;
  font-size: xx-large;
  position: relative;
  top: -800px;
  left: 50%;
}
.imgbannerPara13{
  color: #efeffb;
  font-weight: bold;
  position: relative;
  top: -810px;
  left: 50%;
}
.explore2{
  position: relative;
  top: -800px;
  left: 100px;
  border-color: #efeffb;
  background-color:rgb(46, 79, 80);
  color: #efeffb;
  height: 40px;
  width: 100px;
  left: 57%;

}


  
.banner4{
  display: flex;
  width: 100%;
  position: relative;
  top: -620px;
  /* height: 1500px; */
}
.banner4 div {
  margin: 20px;
  /* height: 100px; */
  display: flex;
}
.banner4 div img{
  height: 250px;
  width: 460px;
}
.sale1{
  position: relative;
  top: -820px;
  left: -50px;
  color: #efeffb;
  font-weight: bold;
}
.sale2{
  position: relative;
  top: -820px;
  left: -50px;
  color:brown;
  font-weight: bold;
}
.new1{
  position: relative;
  top: -920px;
  left: 470px;
  color: #efeffb;
  font-weight: bold;
}
.new2{
  position: relative;
  top: -920px;
  left: 470px;
  color: #efeffb;
  font-weight: bold;
}
.new3{
  position: relative;
  top: -920px;
  left: 470px;
  color:brown;
  font-weight: bold;
}
.t1{ 
  position: relative;
  top: -990px;
  left: 970px;
  color: #efeffb;
  font-weight: bold;

}
.t2{ 
  position: relative;
  top: -990px;
  left: 970px;
  color:brown;
  font-weight: bold;

}
.banner5 div img{
  /* background-color: black; */
  /* color:#fcf403; */
  height: 200px;
  width: 100%;
  position: relative;
  top: -880px;
}
.banner5 h1{
  color: white;
  position: relative;
  top: -1050px;
 
}


span{
  color:gold;
  position: relative;
  /* top: 250px; */
}
.label{
  position: relative;
  top: -1120px;
  left: 1000px;
  height: 35px;
  
  color: #efeffb;
  width: 402px;
  
}
.signupbutton{
  color: #efeffb;
  background-color: #02B290;
  font-weight: bold;
  height: 35px;
  width: 100px;
  border-color: #02B290;
  position:relative;
  left: 306px;
  top:-35px
 
}
.label input{
  color: darkgray;
  font-weight: bold;
  height: 30px;
  width: 300px;
  border-color: #efeffb;
  
  
  
}
.banner5 p{
  color: darkgrey;
  position: relative;
  top: -1060px;
}
    /* signup banner ends here */

    /* footer starts here */
    .footer{
      display: flex;
      justify-content: space-around;
      background-color: rgb(223, 223, 234);
      position: relative;
      top: -1040px;
      padding-top: 50px;
      padding-bottom: 0px;
    }
    .footerlist1{
      flex: 1;
      font-size: large;
      position: relative;
      left: 50px;
      top: 500px;
    }
    .footerlist1 img{
      position: relative;
      top: -500px;
      left: 100px;
    }
    .footerlist2{
      flex: 1;
      font-size: large;
      position: relative;
      left: 150px;
      top: 500px;
    }
    .footerlist3{
      flex: 1;
      font-size: large;
      position: relative;
      left: 70px;
      top: 500px;
    }
    .footerlist4{
      position: relative;
      flex: 1;
      font-size: large;
      top: 500px;
      
    }
    .footerlist4 img{
      position: relative;
      top: -500px;
      left: 100px;
    }
    .bgcolor{
      background-color:  rgb(223, 223, 234);
    }
    /* footer ends her